
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    background-color: white;
    white-space: nowrap;
}

.logos:hover .logos-slide{
    animation-play-state: paused;

}
.logos-slide{
    
    animation: s slide infinite linear;
}
.logos::before{

}
.logos-slide img{
    height: 40px;
}
